//Todos los .styl del proyecto se importan aquí, para compilar un solo CSS
//--Normalize.styl se busca ya hecho en google, y se importa aquí.
@import "nib"
@import "normalize.styl"
@import "iconFonts.styl"

//Actualmente no se necesita poner este vendor-prefixes porque esos que puse ahí son los que ya nib digita por default, pero en caso de que salga un nuevo motor de browser, simplemente debo añadirlo a este grupo.
vendor-prefixes =  webkit o ms moz official 

//animacion(parametro)
	//-webkit-animation parametro
	//-moz-animation parametro
	//-o-animation parametro
	//-ms-animation parametro
	//animation parametro
	

//Variables
gris_oscuro = #333333
gris_claro = #818181
gris_lighter =  #F0F0F0
fucsia = #CC2F6F

//Para eliminar el color azul y subrayado por defecto de todos los <a>
a
	text-decoration none

//Esto se debe hacer siempre porque los img tienen por defecto un vertical align 'baseline'
img
	vertical-align top

ul
	margin 0
	padding 0

body
	//Le digo todos los textos que tengan por defecto 16px, valor estándar por legibilidad.
	//Ahora cada que use valores en em, 1em valdrá 16px.
	font-size 16px
	//Esto lo copié de Google Fonts.
	font-family 'Varela Round', sans-serif

figure
	//Los <figure> traen un margin por defecto que nos descuadra el layout, lo dejamos en 0.
	margin 0

//Buttons
.button-menu
	//'position absolute' hace que quede flotando con respecto al padre más cercano que tenga posición relativa. (el header)
	position absolute
	//este 50% es la mitad del alto de nuestro header.
	top 50%
	margin-top -10px
	left .5em
	color gris_oscuro

//OOCSS CLASSES (Clases que puedo reutilizar en varias partes y darselas por medio del html junto al nombre de clase)
.relative
	position relative

.border-bottom
	border-bottom 1px solid gris_claro
	
.center-block
	margin 0 auto
	
.wrap
	width 1000px

.center-text
	text-align center   

.actions
	position absolute
	//Esto es para que los iconos de acciones se vayan a la parte de abajo del cover de la canción
	//no se usa top 0 porque cubriría todo el cover de la canción.
	bottom 0
	//Este left y right 0, son para que los estilos se mantengan al borde del cover y no se salga ningun margin.
	left 0
	right 0
	background rgba(gris_oscuro, .3)
	//width 100%
	//box-sizing border-box 

.action
	color white
	//Margen para separar un poco los iconos de acciones
	margin-right .5em
	font-size 1.2em 
	//el tercer icono no necesita ese espacio porque no tiene otro ícono a su derecha, le quito el margin al 'último hijo'
	&:last-child
		margin 0
	&.gray
		color gris_oscuro

.right-text
	text-align right

.left
	float left
.right
	float right
	
.round 
	border-radius 50%
	overflow hidden

.padding
	padding 1em

.padding-only-sides
	padding 1em 0
	
.padding-only-tb
	padding 0 1em
	
.progress
	margin 1em 0
	position relative
	.total
		height 5px
		background gris_claro
		width 75%
		border-radius 5px
		margin 0 auto
	.state
		height 5px
		background fucsia
		width 30%
		border-radius 5px
		position relative
		//Los llamados a los navegadores están arriba
		//animacion(1s playing-state infinite)
		//Duracion de la canción
		animation 250s playing-state infinite linear
		
	.indicadorAvance
		width 10px
		height 10px
		background gris_oscuro
		position absolute
		right 0
		top -2px
		//animacion(1s circle-progress infinite)
		animation 1s circle-progress infinite
		
	.min
	.max
		position absolute
		font-size .8em
		top -5px
	.max
		right 0
	.min        
		left 0

@keyframes playing-state
	//from
	0%
		//background red
		width 0
	//to
	100%
		width 100%

@keyframes circle-progress
	0%
		//escala-rotación-sesgado
		transform scale(1)
	100%
		transform scale(2)
		opacity 0
	
//--FIN DE OOCSS CLASSES
.header
	//Altura del header.
	height 3.5em
	
.container
	//'padding' es un margen interno, esto se pone para nuestro contenedor general tenga un margen y las canciones no queden pegadas del borde.
	//usamos 'rem' para que haga referencia al primer padre, los 16px del body; si dejamos em, quedaría en 0, por el font-size que tenemos aquí mismo.
	padding 1.4rem
	//este 'font-size' lo usamos para que todos nuestros inline-block no tengan espaciado. (se hace con font-size porque inline-block tiene propiedades de texto)
	font-size 0
	//Dado que usamos inline-block, podemos aprovechar las propiedades de texto para centrar con un text-align.
	text-align center 

.name
	//color creado arriba como variable.
	color gris_oscuro
	
.menu
	//Oculta el menu.
	display none
	
.author
	//color creado arriba como variable.
	color gris_claro
	
//.image
	//img
		//width 100%
		//height auto
		
.title
	//tamaño del titulo un poco más grande. 
	font-size 1.1em
	//título centrado.
	text-align center
	//título sin margenes.
	margin 0
	//Misma altura de interlineado que la altura del header, para que quede centrado verticalmente.
	line-height 3.5em
	

.song
	//Los elementos por defecto vienen en display:block, que le hace ocupar todo el ancho de la pantalla.
	//Podríamos usar 'float' para que las canciones se acomoden, pero es mejor 'inline-bock' que hace que el bloque solo tenga el ancho que nosotros le asignemos, y aparte nos da propiedades de texto (lo podemos centrar, etc).  
	display inline-block
	//como en mi clase container dije que font-size=0, y em hace referencia al padre más cercano, entonces todo lo que yo escriba aquí (nombre artista, título canciones, tendrá tamaño de fuente=0), para remediar esto usamos 'rem', que hace referencia al primer padre de todos, es decir, el que está en el body con 16px.
	font-size 1rem
	//8em es = a 16 * 8px = 128px
	width 8em
	//margen de 16px a la derecha y hacia abajo para que las canciones no estén pegadas.
	margin-right 1em
	margin-bottom 1em
	//En la clase general 'container' tenemos un text-align: center, y eso nos está centrando también los títulos de las canciones, aquí ponemos de nuevo los títulos a la izquierda.
	text-align left 
	//Esto es una pseudoclase y lo que hace 'even' dentro de nth-child() es buscar solo los pares y hacer con ellos lo que este abajo de la pseudoclase, es decir, quitarle el margin right, porque solo lo necesitamos en los impares.
	&:nth-child(even)
	margin-right 0
	
	//0,5em (8px) hacia arriba y abajo del nombre de artista y título de la canción, y 0 a los lados.
	p 
		margin .5em 0
		
.playing
	&.small
		width 20em
		margin 0 auto

.input
	border 1px solid gris_claro
	height 2em
	border-radius 10px
	margin-right .5em
	padding 0 1em 0 2em

.search-icon
	position absolute
	left .6em
	top .5em
	color gris_claro

.close-icon
	position absolute
	top .2em
	right .8em
	font-size 1.2em 
	color gris_claro

.tamano-logo
		width 122px
		
.logo
	display none
	//Esto se pone cuando se usan floats, para no afectar la estructura de cajas.
	overflow hidden
	padding 1.3em 0
	background gris_oscuro
		
.avatar
	display inline-block
	img
		width 2.3em
		height 2.3em
		border-radius 50%
		margin-right .5em
			
.username
	display inline-block
	color gris_claro
	line-height 2.3em
	//triangulito al lado del username.
	&:after
		content ""
		border-left 7px solid transparent
		border-top 9px solid gris_claro
		border-right 7px solid transparent  
		display inline-block
		margin-left .5em
	
.playlist
	display none
	width 24em
	border-left 1px solid gris_claro
	.list
		list-style none
	.action
		font-size .8em

//Este es un mediaquery, todo lo que tenga por lo menos 480px o más, tendrá los estilos a continuación
@media screen and (min-width:480px)		
	//Esto le devuelve el margen que le habíamos quitado a los pares de la versión movil.
	.song
		&:nth-child(even)
			margin-right 1em
	
	.image
		img
			width 100%
			height auto 
	.playing
		&.medium
			width auto 
			
@media screen and (min-width:1000px)
	body
		background gris_lighter
		
	.logo
		display block
	
	.button-menu
		display none
	
	.playing
		padding-top 1em
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.menu
		display block
		background gris_lighter
		overflow hidden
		//border-top 1px solid gris_claro
		
		.item
			float left
			list-style none
			font-size 1em
			color white
			a
				color gris_oscuro
				cursor pointer
				display block
				padding 1em
				text-transform uppercase
				border-top 5px solid transparent
				&:hover
					border-top 5px solid fucsia
					
	//En el modo tablet tenía el ancho total, en desktop no.			
	.music
		width 32.5em
		float left
		overflow hidden
	
	.playlist
		display block
			
	.description
		display none
				
	.header
		height auto
		border none
	
	.title
		display none